<!DOCTYPE html>

<html>

<body>

    <form action="/pdf" method="post" enctype="multipart/form-data">
        <div>
            <label for="page number">Enter Page Number</label>
            <input type="number" name="page_number" id="page_number"/>
        </div>
        <div>
            <label for="Angle">Enter Angle</label>
            <input type="number" name="angle" id="angle"/>
        </div>
        <input type="file" name="file" id="file"/>
        <input type="submit"/>
    </form>

</body>

</html>